version: "3.8"

services:
  postgres:
    container_name: pgdb
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgresR5
    ports:
      - "5434"
    networks:
      - mynetwork

  redis:
    container_name: redis
    image: redis:latest
    restart: always
    ports:
      - "6379:6379"
    networks:
      - mynetwork

  nextjs-app:
    container_name: nextjs-app
    build:
      context: ./server
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      NEXT_PUBLIC_POSTGRES_HOST: pgdb
      NEXT_PUBLIC_POSTGRES_USER: postgres
      NEXT_PUBLIC_POSTGRES_PASSWORD: postgresR5
      NEXT_PUBLIC_REDIS_HOST: redis
      NEXT_PUBLIC_REDIS_PORT: 6379
    depends_on:
      - postgres
      - redis
    networks:
      - mynetwork
    dns:
      - 8.8.8.8 # Google's public DNS
      - 1.1.1.1 # Cloudflare's public DNS

volumes:
  postgres:
    driver: local

networks:
  mynetwork:
    driver: bridge
